body{
    overflow-x: hidden;
}

.sltbg{
            background: #30BAA8; 
            border: 0px solid #30BAA8;
        }    
 .usluga-check{
            font-size: 17px;
           height: 150px;
            width: 150px;
        }
.glyphicon {
            font-size: 27px;
            margin-right: 15px;
}