
.sltbg{
            background: #30BAA8; 
            border: 0px solid #30BAA8;
        }    
 .usluga-check{
            font-size: 17px;
           height: 150px;
            width: 150px;
        }

